{% extends 'layout.html.twig' %}

{% block title %}{{ cocktail.name|capitalize }}{% endblock %}

{% block content %}
    <div class="bg-light p-5">
        <div class="container p-3 bg-white rounded shadow-sm">
            <section class="mb-3 p-3">
                <div class="row">
                    <div class="col-md-10 d-flex flex-column justify-content-center p-3">
                        <h1>{{ cocktail.name|title }}</h1>
                        {% for cocktail_ingredient in cocktail.cocktailIngredients %}
                            {% if loop.first %}
                                <ul class="list-unstyled">
                            {% endif %}
                            <li class="badge badge-primary badge-{{ cocktail_ingredient.ingredient.ingredientCategory.name|replace({' ': '-'}) }}">
                                {{ cocktail_ingredient.quantity }}
                                {{ cocktail_ingredient.measure }}{{ cocktail_ingredient.measure is not null ? ' de' : '' }}
                                {{ cocktail_ingredient.ingredient.name }}
                            </li>
                            {% if loop.last %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="my-3 p-3">
                <h2 class="border-bottom border-gray pb-2 mb-0">La recette</h2>
                <div class="col-md-12 pt-3">
                    {{ cocktail.recipe|markdown_to_html }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
